/* Text Vars */
$cor-txt-primario: #f4f4f5;
$cor-txt-secundario: #a1a1aa;
$cor-txt-terciario: #52525b;
/* Background Vars */
$cor-bg-principal: #18181b;
$cor-bg-secundario: #27272a;

/* Global Reset CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: $cor-txt-primario;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Body Style */
body {
    background-color: $cor-bg-principal;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles */
main {
    margin-top: 10%;
    text-align: center;
    gap: 8px;
}
h1 {
    margin-bottom: 15px;
}
h2 {
    margin-top: 25px;
    font-size: 32px;
}
p {
    font-size: 20px;
    color: $cor-txt-secundario;
}
.pesquisa {
    margin: 10px auto;
    background-color: $cor-bg-secundario;
    color: $cor-txt-terciario;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.pesquisa {
    input {
        border: none;
        background-color: transparent;
        margin-left: 5px;
        padding: 15px 0;
        width: 80%;
        height: 60%;
    }
    img {
        transition: all .5s;
    }
    img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}